html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: 'Didact Gothic', 'Lato', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #A6FBC9;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1{
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 5.7%;
}

h2{
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 3.7%;
}

h3{
	font-size: 24px;
	font-weight: 700;
}

.navbar-default .navbar-brand{
	position: absolute;
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
  }

.navbar .navbar-collapse {
	text-align: center;
  }

.navbar-default .navbar-nav>li>a {
	margin: 0 25px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 50px;
	color: black;
}

.navbar-nav > li > a:hover{
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.introduction p{
	font-weight: 300;
	font-size: 24px;
}

.proposal p{
	font-family: 'Lato';
	font-weight: 300;
	font-size: 18px;
}

.team p{
	font-family: 'Lato';
	font-weight: 300;
	font-size: 18px;
}

.footer p{
	text-align: center;
	font-weight: 300;
	font-size: 18px;
}
.apply h3{
	text-align: center;
	vertical-align: middle;
}
.navbar {
	-webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,1);
	box-shadow: 0px 1px 10px 0px rgba(0,0,0,1);
	border-radius: 0;
	background-color: #fff;
	margin: 0;
}

.light-grey {
	background-color: #f0f2f0;
}

.dark-grey {
	background-color: #bcbcbc;
}

.green {
	background-color: #A6FBC9;
}
.padded-container {
	margin-top: 3.7%;
	margin-bottom: 3.7%;
}
.mission{
	background-color: #707070;
}

.mission .row{
	border: 1px solid #74C898;
}

.mission img{
	display: block;
	margin: 0 auto;
	padding-top: 10%;
	padding-bottom: 10%;
}
.row .text {
	margin: 0 auto;
	color: #FFF;
	padding-bottom: 10%;
	text-align: center;
}

.profile-pic{
	height: 150px;
	width: 150px;
	float: left;
}

.apply-button{
	margin: 0 auto;
	border-radius: 15px;
	border-color: #E7FFFC;
	border-style: solid;
    background: #A6FBC9;
    padding: 20px; 
    width: 250px;
	height: 75px; 
}
.apply-button p{
	text-align: center;
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%) 
}

